<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.product.manage.mapper.IProductMangeMapper">

	<!-- 여행상품 -->
	<resultMap id="tripPordMap" type="kr.or.ddit.mohaeng.vo.BusinessProductsVO">
		<id property="tripProdNo" column="TRIP_PROD_NO"/>
		<result property="compNo" column="COMP_NO" />
	    <result property="memNo" column="MEM_NO" />
	    <result property="prodCtgryType" column="PROD_CTGRY_TYPE" />
	    <result property="approveStatus" column="APPROVE_STATUS" />
	    <result property="tripProdTitle" column="TRIP_PROD_TITLE" />
	    <result property="tripProdContent" column="TRIP_PROD_CONTENT" />
	    <result property="saleStartDt" column="SALE_START_DT" />
	    <result property="saleEndDt" column="SALE_END_DT" />
	    <result property="attachNo" column="ATTACH_NO" />
	    <result property="viewCnt" column="VIEW_CNT" />
	    <result property="regDt" column="REG_DT" />
	    <result property="modDt" column="MOD_DT" />
	    <result property="aprvYn" column="APRV_YN" />
	    <result property="rejRsn" column="REJ_RSN" />
	    <result property="rejDt" column="REJ_DT" />
	    <result property="resDt" column="RES_DT" />
	    <result property="delYn" column="DEL_YN" />
	    <result property="delDt" column="DEL_DT" />
	    <result property="ctyNm" column="CTY_NM" />
		
		<!-- db에 없는 것들 -->
		<result property="avgRating" column="AVG_RATING" />
	    <result property="reviewCount" column="REVIEW_COUNT" />
	    <result property="recommendCount" column="RECOMMEND_COUNT" />
	    <result property="thumbImage" column="THUMB_IMAGE" />
	    
	    <!-- 화면에 보여줄 가격 -->
	    <result property="displayPrice" column="DISPLAY_PRICE" />
	    
		<!-- 숙박 -->
		<association property="accommodation" resultMap="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accMap"/>
		
		<!-- 상품 관련 -->
		<association property="prodSale" resultMap="prodSaleMap"/>
		<association property="prodInfo" resultMap="prodInfoMap"/>
		<association property="prodPlace" resultMap="prodPlaceMap"/>
		
		<!-- 구입 상품 목록 판매량 확인용 -->
        <collection property="prodList" resultMap="prodListMap"/>
	</resultMap>
	
	<!-- 구입 상품 목록 이걸로 판매량 확인하기 -->
	<resultMap id="prodListMap" type="kr.or.ddit.mohaeng.vo.TripProdListVO">
	    <id property="prodListNo" column="PROD_LIST_NO" />
	    <result property="payNo" column="PAY_NO" />
	    <result property="tripProdNo" column="TRIP_PROD_NO" />
	    <result property="unitPrice" column="UNIT_PRICE" />
	    <result property="discountAmt" column="DISCOUNT_AMT" />
	    <result property="payPrice" column="PAY_PRICE" />
	    <result property="quantity" column="QUANTITY" />
	    <result property="resvDt" column="RESV_DT" />
	    <result property="useTime" column="USE_TIME" />
	    <result property="rsvMemo" column="RSV_MEMO" />
	</resultMap>
	
	<!-- 상품 판매 정보 -->
	<resultMap id="prodSaleMap" type="kr.or.ddit.mohaeng.tour.vo.TripProdSaleVO">
		<id property="tripProdNo" column="TRIP_PROD_NO" />
	    <result property="price" column="PRICE" />
	    <result property="netprc" column="NETPRC" />
	    <result property="discount" column="DISCOUNT" />
	    <result property="leadTime" column="LEAD_TIME" />
	    <result property="totalStock" column="TOTAL_STOCK" />
	    <result property="curStock" column="CUR_STOCK" />
	</resultMap>
	
	<!-- 상품 이용안내 -->
	<resultMap id="prodInfoMap" type="kr.or.ddit.mohaeng.tour.vo.TripProdInfoVO">
		<id property="tripProdNo" column="TRIP_PROD_NO" />
	    <result property="prodRuntime" column="PROD_RUNTIME" />
	    <result property="prodDuration" column="PROD_DURATION" />
	    <result property="prodMinPeople" column="PROD_MIN_PEOPLE" />
	    <result property="prodMaxPeople" column="PROD_MAX_PEOPLE" />
	    <result property="prodLimAge" column="PROD_LIM_AGE" />
	    <result property="prodInclude" column="PROD_INCLUDE" />
	    <result property="prodExclude" column="PROD_EXCLUDE" />
	    <result property="prodNotice" column="PROD_NOTICE" />
	</resultMap>
	
	<!-- 여행상품 관광지 -->
	<resultMap id="prodPlaceMap" type="kr.or.ddit.mohaeng.tour.vo.TripProdPlaceVO">
		<id property="prodPlcNo" column="PROD_PLC_NO" />
	    <result property="tripProdNo" column="TRIP_PROD_NO" />
	    <result property="addr1" column="ADDR1" />
	    <result property="addr2" column="ADDR2" />
	</resultMap>
	
	<!--  tripProd 컬럼 -->
	<sql id="tripProdColumns">
	      ${alias}TRIP_PROD_NO
	    , ${alias}COMP_NO
	    , ${alias}MEM_NO
	    , ${alias}PROD_CTGRY_TYPE
	    , ${alias}APPROVE_STATUS
	    , ${alias}TRIP_PROD_TITLE
	    , ${alias}TRIP_PROD_CONTENT
	    , ${alias}SALE_START_DT
	    , ${alias}SALE_END_DT
	    , ${alias}ATTACH_NO
	    , ${alias}VIEW_CNT
	    , ${alias}REG_DT
	    , ${alias}MOD_DT
	    , ${alias}APRV_YN
	    , ${alias}DEL_YN
	    , ${alias}CTY_NM
	</sql>
	
	<!--  tripProdSale 컬럼 s -->
	<sql id="prodSaleColumns">
	      ${alias}PRICE
	    , ${alias}NETPRC
	    , ${alias}DISCOUNT
	    , ${alias}LEAD_TIME
	    , ${alias}TOTAL_STOCK
	    , ${alias}CUR_STOCK
	</sql>
	
	<!--  tripProdInfo 컬럼 i -->
	<sql id="prodInfoColumns">
	      ${alias}PROD_RUNTIME
	    , ${alias}PROD_DURATION
	    , ${alias}PROD_MIN_PEOPLE
	    , ${alias}PROD_MAX_PEOPLE
	    , ${alias}PROD_LIM_AGE
	    , ${alias}PROD_INCLUDE
	    , ${alias}PROD_EXCLUDE
	    , ${alias}PROD_NOTICE
	</sql>
	
	<!--  tripProdPlace 컬럼 p-->
	<sql id="prodPlaceColumns">
	      ${alias}PROD_PLC_NO
	    , ${alias}ADDR1
	    , ${alias}ADDR2
	</sql>
	
	<sql id="prodListColumns">
		  ${alias}PROD_LIST_NO
	    , ${alias}PAY_NO
	    , ${alias}TRIP_PROD_NO
	    , ${alias}UNIT_PRICE
	    , ${alias}DISCOUNT_AMT
	    , ${alias}PAY_PRICE
	    , ${alias}QUANTITY
	    , ${alias}RESV_DT
	    , ${alias}USE_TIME
	    , ${alias}RSV_MEMO
	</sql>
	
	<!-- 
	, CASE
           WHEN t.PROD_CTGRY_TYPE = 'accommodation' 
           THEN (SELECT MIN(RT.PRICE) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO)
           ELSE 0
       END AS DISPLAY_PRICE
       
	, CASE
           WHEN t.PROD_CTGRY_TYPE = 'accommodation' 
           THEN (SELECT MIN(RT.PRICE) 
           			FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO)
           			이게 있는 RT.ACC_NO의 RT.DISCOUNT가져오기
           ELSE 0
       END AS DISPLAY_DISCOUNT
	 -->
	<!-- 숙소 재고, 판매량 정보가 애매함. 숙소는 roomTypeList와 다른 것들 적용해야되서 -->
	<!-- 본인 기업회원 상품 목록 -->
	<select id="getProductlist" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultMap="tripPordMap">
        SELECT *
        FROM (
            SELECT ROWNUM AS rn, a.*
            FROM (
                SELECT
                    <include refid="tripProdColumns">
                    	<property name="alias" value="t."/>
                    </include>
                    , <include refid="prodSaleColumns">
                    	<property name="alias" value="s."/>
                    </include>
                    , <include refid="prodInfoColumns">
                    	<property name="alias" value="i."/>
                    </include>
                    <!-- 가격에서 할인 가격도 가져와야됨 -->
                    , acc.ACC_NO
	                , acc.ACC_NAME
	                , acc.TOTAL_ROOM_CNT
	                , acc.ACC_FILE_PATH
	                , CASE
	                    WHEN t.PROD_CTGRY_TYPE = 'accommodation' 
	                    THEN (SELECT MIN(RT.PRICE) FROM ROOM_TYPE RT WHERE RT.ACC_NO = acc.ACC_NO)
	                    ELSE s.PRICE
	                END AS DISPLAY_PRICE
                    , r.AVG_RATING 
                    , r.REVIEW_COUNT
                    , r.RECOMMEND_COUNT,
					(SELECT AFD.FILE_PATH 
					 FROM ATTACH_FILE_DETAIL AFD 
					 WHERE AFD.ATTACH_NO = t.ATTACH_NO 
					   AND AFD.USE_YN = 'Y' 
					   AND ROWNUM = 1) AS THUMB_IMAGE
                FROM TRIP_PROD t
                LEFT JOIN ACCOMMODATION acc ON t.TRIP_PROD_NO = acc.TRIP_PROD_NO
                LEFT JOIN TRIP_PROD_SALE s ON t.TRIP_PROD_NO = s.TRIP_PROD_NO
                LEFT JOIN TRIP_PROD_INFO i ON t.TRIP_PROD_NO = i.TRIP_PROD_NO
                LEFT JOIN (
                    SELECT 
                        TRIP_PROD_NO
                        , ROUND(AVG(RATING), 1) AS AVG_RATING
                        , COUNT(*) AS REVIEW_COUNT
                        , COUNT(CASE WHEN RCMDTN_YN = 'Y' THEN 1 END) AS RECOMMEND_COUNT
                    FROM PROD_REVIEW
                    GROUP BY TRIP_PROD_NO
                ) r ON t.TRIP_PROD_NO = r.TRIP_PROD_NO
                WHERE (t.DEL_YN = 'N' OR t.DEL_YN IS NULL)
                AND t.MEM_NO = #{memNo}
                <!-- 검색어 -->
                <if test="keyword != null and keyword != ''">
                    AND (t.TRIP_PROD_TITLE LIKE '%' || #{keyword} || '%'
                         OR t.TRIP_PROD_CONTENT LIKE '%' || #{keyword} || '%')
                </if>
                <!-- 카테고리 -->
                <if test="prodCtgryType != null and prodCtgryType !=''">
                	AND t.PROD_CTGRY_TYPE = #{prodCtgryType}
                </if>
       			ORDER BY  t.TRIP_PROD_NO DESC
            ) a
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{pageSize}
            ]]>
        )
        <![CDATA[
        WHERE rn > (#{page} - 1) * #{pageSize}
        ]]>
	</select>
	<!-- ORDER BY  t.TRIP_PROD_NO DESC -->
	
	<!-- 등록된 숙소 정보 있는지 확인 -->
	<select id="existsByApiContentId" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO" resultType="kr.or.ddit.mohaeng.vo.AccommodationVO">
		SELECT
			ACC_NO
			, ACC_NAME
		FROM
		    ACCOMMODATION
		WHERE API_CONTENT_ID = #{apiContentId}
	</select>
	
	<!-- 상품 현황 통계 + 숙박도 포함 해야됨 -->
	<select id="getProductAggregate" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdVO" resultType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
		SELECT 
			COUNT(*) AS totalCount
			, COUNT(CASE WHEN TP.APPROVE_STATUS = '판매중' THEN TP.APPROVE_STATUS END) AS approveCount
		    , COUNT(CASE WHEN TP.APPROVE_STATUS = '판매중지' THEN TP.APPROVE_STATUS END) AS unapproveCount
			, NVL(SUM(TPS.TOTAL_STOCK - TPS.CUR_STOCK), 0) AS totalSales
		FROM TRIP_PROD TP
		LEFT JOIN TRIP_PROD_SALE TPS ON (TP.TRIP_PROD_NO = TPS.TRIP_PROD_NO)
		WHERE TP.MEM_NO = #{memNo}
		AND (TP.DEL_YN = 'N' OR TP.DEL_YN IS NULL)
	</select>
	
	<!-- 상세 페이지 이동시, 숙소는 포함 안됨 -->	
<!-- 	<select id="detail" parameterType="int" resultType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
        SELECT
            TRIP_PROD_NO, COMP_NO, MEM_NO, PROD_CTGRY_TYPE, APPROVE_STATUS,
            TRIP_PROD_TITLE, TRIP_PROD_CONTENT, SALE_START_DT, SALE_END_DT,
            ATTACH_NO, VIEW_CNT, REG_DT, MOD_DT, CTY_NM
        FROM TRIP_PROD
        WHERE TRIP_PROD_NO = #{tripProdNo}
          AND (DEL_YN = 'N' OR DEL_YN IS NULL)
    </select> -->
	
	<!-- 상품, 상품 이용안내, 상품 가격, 상품 장소 -->
	<select id="retrieveProductDetail" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultMap="tripPordMap">
		SELECT
			<include refid="tripProdColumns">
				<property name="alias" value="t."/>
			</include>
			, <include refid="prodSaleColumns">
				<property name="alias" value="s."/>
			</include>
			, <include refid="prodInfoColumns">
				<property name="alias" value="i."/>
			</include>
			, <include refid="prodPlaceColumns">
				<property name="alias" value="p."/>
			</include>
			, (SELECT AFD.FILE_PATH 
				 FROM ATTACH_FILE_DETAIL AFD 
				 WHERE AFD.ATTACH_NO = t.ATTACH_NO 
				   AND AFD.USE_YN = 'Y' 
				   AND ROWNUM = 1) AS THUMB_IMAGE
		FROM TRIP_PROD t
		LEFT JOIN TRIP_PROD_SALE s ON (t.TRIP_PROD_NO = s.TRIP_PROD_NO)
		LEFT JOIN TRIP_PROD_INFO i ON (t.TRIP_PROD_NO = i.TRIP_PROD_NO)
		LEFT JOIN TRIP_PROD_PLACE p ON (t.TRIP_PROD_NO = p.TRIP_PROD_NO)
	   WHERE t.TRIP_PROD_NO = #{tripProdNo}
	</select>
	
	<!-- 숙소정보 가져오기 -->
	<select id="retrieveAccomodationDetail" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultMap="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accMap">
		SELECT 
	        <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accommodationColumns">
	        	<property name="alias" value="A."/>
	        </include>
	        , <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accFacilityColumns">
	        	<property name="alias" value="AF."/>
	        </include>
	        , <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accOptionColumns">
	        	<property name="alias" value="AO."/>
	        </include>
	        , <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomTypeColumns">
	        	<property name="alias" value="RT."/>
	        </include>
	        , <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomFacilityColumns">
	        	<property name="alias" value="RF."/>
	        </include>
	        , <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomFeatureColumns">
	        	<property name="alias" value="RFT."/>
	        </include>
	        <!-- room 추가 -->
	        , <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomColumns">
	        	<property name="alias" value="R."/>
	        </include>
        FROM ACCOMMODATION A
		LEFT JOIN ACC_FACILITY AF ON A.ACC_NO = AF.ACC_NO
		LEFT JOIN ACC_OPTION AO ON A.ACC_NO = AO.ACC_NO
		LEFT JOIN ROOM_TYPE RT ON A.ACC_NO = RT.ACC_NO
		LEFT JOIN ROOM_FACILITY RF ON RT.ROOM_TYPE_NO = RF.ROOM_TYPE_NO
		LEFT JOIN ROOM_FEATURE RFT ON RT.ROOM_TYPE_NO = RFT.ROOM_TYPE_NO
		LEFT JOIN ROOM R ON RT.ROOM_TYPE_NO = R.ROOM_TYPE_NO
		WHERE A.ACC_NO = #{accNo}
		ORDER BY RT.ROOM_TYPE_NO ASC, AO.ACC_OPTION_NO ASC, R.ROOM_INFO_NO ASC
	</select>
	
	
	<!-- 예약 가능 시간-->
	<select id="retrieveProdTimeList" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultType="kr.or.ddit.mohaeng.tour.vo.ProdTimeInfoVO">
		SELECT
		    TIME_INFO_NO
		    , TRIP_PROD_NO
		    , RSVT_AVAILABLE_TIME
		FROM PROD_TIME_INFO
	   WHERE TRIP_PROD_NO = #{tripProdNo}
	   ORDER BY TIME_INFO_NO
	</select>
	
	<!-- 상품 사진 목록 -->
	<select id="retrieveProdImages" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultType="kr.or.ddit.mohaeng.vo.AttachFileDetailVO">
		SELECT
		    FILE_NO
		    , ATTACH_NO
		    , FILE_NAME
		    , FILE_ORIGINAL_NAME
		    , FILE_EXT
		    , FILE_SIZE
		    , FILE_PATH
		    , FILE_GB_CD
		    , MIMY_TYPE
		    , USE_YN
		FROM ATTACH_FILE_DETAIL
	   WHERE ATTACH_NO = #{attachNo}
	     AND USE_YN = 'Y'
	   ORDER BY FILE_NO
	</select>

	<!-- 판매중인 상품, 상품 이용안내, 상품 가격, 상품 장소, 숙소 정보, 숙소 보유시설 정보 변경 -->
	<!-- 판매중인 상품 정보 변경 -->
	<update id="modifyTripProduct" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO">
	    UPDATE TRIP_PROD
	    SET 
	        APPROVE_STATUS = '판매중지'
	        <if test="prodCtgryType != null and prodCtgryType != ''">
	        , PROD_CTGRY_TYPE = #{prodCtgryType}
	        </if>
	        , TRIP_PROD_TITLE = #{tripProdTitle}
	        , TRIP_PROD_CONTENT = #{tripProdContent}
	        , SALE_START_DT = #{saleStartDt}
	        , SALE_END_DT = #{saleEndDt}
	        <if test="attachNo != null and attachNo != ''">
	        , ATTACH_NO = #{attachNo}
	        </if>
	        <if test="ctyNm != null and ctyNm != ''">
	        , CTY_NM = #{ctyNm}
	        </if>
	        , APRV_YN = 'N'
	        , MOD_DT = SYSDATE
	    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>
	
	<!-- 상품 가격 정보 변경 -->
	<update id="modifyProdSale" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdSaleVO">
	    UPDATE TRIP_PROD_SALE
	    SET 
	        PRICE = #{price}
	        , NETPRC = #{netprc}
	        , DISCOUNT = #{discount}
	        , LEAD_TIME = #{leadTime}
	        , TOTAL_STOCK = #{totalStock}
	    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>
	
	<!-- 상품 이용안내 정보 변경 -->
	<update id="modifyProdInfo" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdInfoVO">
	    UPDATE TRIP_PROD_INFO
	    SET 
	        PROD_RUNTIME = #{prodRuntime}
	        , PROD_DURATION = #{prodDuration}
	        , PROD_MIN_PEOPLE = #{prodMinPeople}
	        , PROD_MAX_PEOPLE = #{prodMaxPeople}
	        , PROD_LIM_AGE = #{prodLimAge}
	        , PROD_INCLUDE = #{prodInclude}
	        , PROD_EXCLUDE = #{prodExclude}
	        , PROD_NOTICE = #{prodNotice}
	    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>
	
	<!-- 상품 장소, 숙소 정보, 숙소 보유시설 정보 변경 -->
	<update id="modifyProdPlace" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdPlaceVO">
	    UPDATE TRIP_PROD_PLACE
    	SET 
	        ADDR1 = #{addr1}
	        , ADDR2 = #{addr2}
	    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>
	
	<!-- 숙소 정보 변경 () -->
	<update id="modifyAccommodation" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO">
	    UPDATE ACCOMMODATION
	    SET
	        TOTAL_ROOM_CNT = #{totalRoomCnt}
	        , CHECK_IN_TIME = #{checkInTime}
	        , CHECK_OUT_TIME = #{checkOutTime}
	    WHERE
	        ACC_NO = #{accNo}
	</update>
	
	<!-- 숙소 보유시설 정보 변경 -->
	<update id="modifyAccFacility" parameterType="kr.or.ddit.mohaeng.vo.AccFacilityVO">
		UPDATE ACC_FACILITY
	       SET WIFI_YN          = #{wifiYn}
	         , PARKING_YN       = #{parkingYn}
	         , BREAKFAST_YN     = #{breakfastYn}
	         , POOL_YN          = #{poolYn}
	         , GYM_YN           = #{gymYn}
	         , SPA_YN           = #{spaYn}
	         , RESTAURANT_YN    = #{restaurantYn}
	         , BAR_YN           = #{barYn}
	         , ROOM_SERVICE_YN  = #{roomServiceYn}
	         , LAUNDRY_YN       = #{laundryYn}
	         , SMOKING_AREA_YN  = #{smokingAreaYn}
	         , PET_FRIENDLY_YN  = #{petFriendlyYn}
	     WHERE ACC_NO = #{accNo}
	</update>
	
	<!-- 추가 옵션 정보 변경 -->
	<update id="modifyAccOption" parameterType="kr.or.ddit.mohaeng.vo.AccOptionVO">
		UPDATE ACC_OPTION
	       SET ACC_OPTION_NM = #{accOptionNm}
	           , ACC_OPTION_PRICE = #{accOptionPrice}
	           , PERSONNEL_COUNT = #{personnelCount}
	     WHERE ACC_OPTION_NO = #{accOptionNo}
	</update>
	
	

	<!-- 예약 가능 시간 삭제 -->
	<delete id="deleteProdTimeInfo" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO">
		DELETE FROM PROD_TIME_INFO 
     	 WHERE TRIP_PROD_NO = #{tripProdNo}
	</delete>
	
	<!-- 예약 가능 시간 추가(수정, 등록 같이 사용) -->
	<insert id="insertProdTimeInfo" parameterType="kr.or.ddit.mohaeng.tour.vo.ProdTimeInfoVO" useGeneratedKeys="true">
		<selectKey keyProperty="timeInfoNo" resultType="int" order="BEFORE">
			select seq_time_info.nextval from dual
		</selectKey>
		INSERT INTO PROD_TIME_INFO (
	          TIME_INFO_NO
	        , TRIP_PROD_NO
	        , RSVT_AVAILABLE_TIME
	    )values(
	     	#{timeInfoNo}
	        , #{tripProdNo}
	        , #{rsvtAvailableTime}
	    )
	</insert>
	
<!-- 	<insert id="insertProdTimeInfo" parameterType="kr.or.ddit.mohaeng.tour.vo.ProdTimeInfoVO" useGeneratedKeys="true">
		<selectKey keyColumn="timeInfoNo" resultType="int" order="BEFORE">
			select seq_prod_time_info.nextval form dual
		</selectKey>
		INSERT INTO PROD_TIME_INFO (
	          TIME_INFO_NO
	        , TRIP_PROD_NO
	        , RSVT_AVAILABLE_TIME
	    )
	    SELECT SEQ_PROD_TIME_INFO.NEXTVAL, A.*
	    FROM (
	        <foreach collection="list" item="time" separator="UNION ALL">
	            SELECT 
	                  #{time.tripProdNo}
	                , #{time.rsvtAvailableTime}
	            FROM DUAL
	        </foreach>
	    ) A
	</insert> -->
	
	
	<!-- 상품 판매 정보 변경 -->
	<update id="updateProductStatus" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
		UPDATE TRIP_PROD
		    SET APPROVE_STATUS = #{approveStatus}
		    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>

	<!-- 판매 상품 삭제 -->
	<update id="deleteProductStatus" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdVO">
		UPDATE TRIP_PROD
		    SET 
		    del_yn = 'Y'
    		, del_dt = SYSDATE
		    WHERE TRIP_PROD_NO = #{tripProdNo}
	</update>

	<!-- 기업 회원 정보 가져오기 -->
	<select id="getComp" parameterType="int">
		SELECT
			COMP_NO
		FROM COMPANY
		WHERE MEM_NO = #{memNo}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insertTripProudct" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" useGeneratedKeys="true">
		<selectKey keyProperty="tripProdNo" resultType="int" order="BEFORE">
			select seq_trip_prod.nextval from dual
		</selectKey>
		insert into TRIP_PROD(
			<include refid="tripProdColumns">
				<property name="alias" value=""/>
			</include>
		) values(
			#{tripProdNo}
			, #{compNo}
			, #{memNo}
			, #{prodCtgryType}
			, '판매중지'
			, #{tripProdTitle}
			, #{tripProdContent}
			, #{saleStartDt}
			, #{saleEndDt}
			, #{attachNo}
			, 0
			, sysdate
			, #{modDt}
			, 'N'
			, 'N'
			, #{ctyNm}
		)
	</insert>

	<!-- 숙소 등록 -->
	<insert id="insertAccommodation" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO" useGeneratedKeys="true">
		<selectKey keyProperty="accNo" resultType="int" order="BEFORE">
			select seq_accommodation.nextval from dual
		</selectKey>
		insert into ACCOMMODATION (
			<include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accommodationColumns">
				<property name="alias" value=""/>
			</include>
		)values(
			#{accNo}
			, #{tripProdNo}
			, #{apiContentId}
			, #{accName}
			, #{addr1}
			, #{addr2}
			, #{accCatCd}
			, #{accFileNo}
			, #{accFilePath}
			, #{starGrade}
			, #{overview}
			, #{totalRoomCnt}
			, #{mapx}
			, #{mapy}
			, #{areaCode}
			, #{sigunguCode}
			, #{tel}
			, #{checkInTime}
			, #{checkOutTime}
			, #{zip}
			, #{ldongRegnCd}
			, #{ldongSignguCd}
		)
	</insert>

	<!-- 숙소보유시설 등록 -->
	<insert id="insertAccFacility" parameterType="kr.or.ddit.mohaeng.vo.AccFacilityVO">
		insert into ACC_FACILITY (
			ACC_NO
			, <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accFacilityColumns">
				<property name="alias" value=""/>
			</include>
		)values(
			#{accNo}
			, #{wifiYn}
			, #{parkingYn}
			, #{breakfastYn}
			, #{poolYn}
			, #{gymYn}
			, #{spaYn}
			, #{restaurantYn}
			, #{barYn}
			, #{roomServiceYn}
			, #{laundryYn}
			, #{smokingAreaYn}
			, #{petFriendlyYn}
		)
	</insert>

	<!-- 옵션 추가 -->	
	<insert id="insertAccOption" parameterType="kr.or.ddit.mohaeng.vo.AccOptionVO" useGeneratedKeys="true">
		<selectKey keyProperty="accOptionNo" resultType="int" order="BEFORE">
			select seq_acc_option.nextval from dual
		</selectKey>
		insert into ACC_OPTION (
			ACC_OPTION_NO
			, <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accOptionColumns">
				<property name="alias" value=""/>
			</include>
		) values (
			#{accOptionNo}
			,#{accNo}
			,#{accOptionNm}
			,#{accOptionPrice}
			,#{personnelCount}
		)
	</insert>
	
	<!-- 객실 타입 추가 -->
	<insert id="insertRoomType" parameterType="kr.or.ddit.mohaeng.vo.RoomTypeVO" useGeneratedKeys="true">
		<selectKey keyProperty="roomTypeNo" resultType="int" order="BEFORE">
			select seq_room_type_no.nextval from dual
		</selectKey>
		insert into ROOM_TYPE(
			<include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomTypeColumns">
				<property name="alias" value=""/>
			</include>
			, ACC_NO
		)values(
			#{roomTypeNo}
			, #{roomName}
			, #{baseGuestCount}
			, #{maxGuestCount}
			, #{bedCount}
			, #{bedTypeCd}
			, #{totalRoomCount}
			, #{price}
			, #{discount}
			, #{extraGuestFee}
			, #{roomSize}
			, #{breakfastYn}
			, #{accNo}
		)
	</insert>
	
	<!-- 객실 내 시설 추가 -->
	<insert id="insertRoomFcaility" parameterType="kr.or.ddit.mohaeng.vo.RoomFacilityVO">
		insert into ROOM_FACILITY(
			<include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomFacilityColumns">
				<property name="alias" value=""/>
			</include>
			, ROOM_TYPE_NO
		)values(
			#{airConYn}
			, #{tvYn}
			, #{minibarYn}
			, #{fridgeYn}
			, #{safeBoxYn}
			, #{hairDryerYn}
			, #{bathtubYn}
			, #{toiletriesYn}
			, #{roomTypeNo}
		)
	</insert>

	<!-- 객실 내 특징 추가 -->
	<insert id="insertRoomFeature" parameterType="kr.or.ddit.mohaeng.vo.RoomFeatureVO">
		insert into ROOM_FEATURE(
			<include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomFeatureColumns">
				<property name="alias" value=""/>
			</include>
			, ROOM_TYPE_NO
		)values(
			#{freeCancelYn}
			, #{oceanViewYn}
			, #{mountainViewYn}
			, #{cityViewYn}
			, #{livingRoomYn}
			, #{terraceYn}
			, #{nonSmokingYn}
			, #{kitchenYn}
			, #{roomTypeNo}
		)
	</insert>

	<!-- 객실 추가 -->
	<insert id="insertRoom" parameterType="kr.or.ddit.mohaeng.vo.RoomVO" useGeneratedKeys="true">
		<selectKey keyProperty="roomInfoNo" resultType="int" order="BEFORE">
			select SEQ_ROOM.nextval from dual
		</selectKey>
		insert into ROOM(
			<include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomColumns">
				<property name="alias" value=""/>
			</include>
			, ROOM_INFO_NO
		)values(
			#{roomTypeNo}
			, 'Y'
			, #{roomInfoNo}
		)
	</insert>
	
	
	<!-- 상품 판매 정보 등록 -->
	<insert id="insertTripProdSale" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdSaleVO">
		insert into TRIP_PROD_SALE(
			TRIP_PROD_NO
			, <include refid="prodSaleColumns">
				<property name="alias" value=""/>
			</include>
		)values(
			#{tripProdNo}
			, #{price}
		    , #{netprc}
		    , #{discount}
		    , #{leadTime}
		    , #{totalStock}
		    , #{totalStock}
		)
	</insert>
	
	<!-- 상품 관광지 정보 등록 -->
	<insert id="insertTripProdPlace" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdPlaceVO" useGeneratedKeys="true">
		<selectKey keyProperty="prodPlcNo" resultType="int" order="BEFORE">
			select SEQ_TRIP_PROD_PLACE.nextVal from dual
		</selectKey>
		insert into TRIP_PROD_PLACE(
			TRIP_PROD_NO
			, <include refid="prodPlaceColumns">
				<property name="alias" value=""/>
			</include>
		)values(
			#{tripProdNo}
			, #{prodPlcNo}
		    , #{addr1}
		    , #{addr2}
		)
	</insert>
	
	<!-- 상품 이용안내 정보 등록 -->
	<insert id="insertTripProdInfo" parameterType="kr.or.ddit.mohaeng.tour.vo.TripProdInfoVO">
		insert into TRIP_PROD_INFO(
			TRIP_PROD_NO
			, <include refid="prodInfoColumns">
				<property name="alias" value=""/>
			</include>
		)values(
			#{tripProdNo}
			, #{prodRuntime}
		    , #{prodDuration}
		    , #{prodMinPeople}
		    , #{prodMaxPeople}
		    , #{prodLimAge}
		    , #{prodInclude}
		    , #{prodExclude}
		    , #{prodNotice}
		)
	</insert>
	
	<!-- 상품 예약 내역 가져오기 -->
	<select id="getReservation" parameterType="kr.or.ddit.mohaeng.vo.BusinessProductsVO" resultType="kr.or.ddit.mohaeng.vo.TripProdListVO">
		SELECT
			<include refid="prodListColumns">
				<property name="alias" value="TPL."/>
			</include>
			, M.MEM_NAME
			, M.MEM_EMAIL
			, MU.TEL
			, MU.NICKNAME
		FROM TRIP_PROD_LIST TPL
		INNER JOIN PAYMENT P ON TPL.PAY_NO = P.PAY_NO
		INNER JOIN MEMBER M ON M.MEM_NO = P.MEM_NO
		INNER JOIN MEM_USER MU ON M.MEM_NO = MU.MEM_NO
		WHERE TRIP_PROD_NO = #{tripProdNo} 
		ORDER BY TPL.PROD_LIST_NO DESC
	</select>

	
	<!-- 숙소 예약 내역 가져오기 -->
	<select id="getAccResvList" parameterType="kr.or.ddit.mohaeng.vo.AccommodationVO" resultMap="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accResvMap">
		SELECT
			A.ACC_NO
			, A.ACC_NAME
			, <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.roomTypeColumns">
				<property name="alias" value="RT."/>
			</include>
			, <include refid="kr.or.ddit.mohaeng.accommodation.mapper.IAccommodationMapper.accResvColumns">
				<property name="alias" value="AR."/>
			</include>
			, M.MEM_NAME
			, M.MEM_EMAIL
			, MU.TEL
			, MU.NICKNAME
		FROM ACCOMMODATION A
		INNER JOIN ROOM_TYPE RT ON A.ACC_NO = RT.ACC_NO
		INNER JOIN ACC_RESV AR ON RT.ROOM_TYPE_NO = AR.ROOM_TYPE_NO
		INNER JOIN PAYMENT P ON P.PAY_NO = AR.PAY_NO  
		INNER JOIN MEMBER M ON M.MEM_NO = P.MEM_NO
		INNER JOIN MEM_USER MU ON M.MEM_NO = MU.MEM_NO
		WHERE A.ACC_NO = #{accNo}
	</select>
	
	<!-- 
	 -->
	
</mapper>