<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mohaeng.mypage.statistics.mapper.IStatisticsMapper">
	
	<select id="selectProdSg" parameterType="kr.or.ddit.util.Params" resultType="kr.or.ddit.util.Params">
	    SELECT TRIP_PROD_NO
	         , TRIP_PROD_TITLE
	         , VIEW_CNT
	         , RESERV
	         , NVL(ROUND((RESERV / NULLIF(VIEW_CNT, 0)) * 100, 1), 0) AS CONVERATE
	         , SALES
	         , TRUNC(RATING,1) as RATING
	    FROM (SELECT TP.TRIP_PROD_NO
	               , TP.TRIP_PROD_TITLE
	               , NVL(TP.VIEW_CNT,0) AS VIEW_CNT
	               , SUM((SELECT COUNT(*) 
                              FROM PAYMENT P 
                             WHERE P.PAY_NO = TPL.PAY_NO
                             <if test='startDate != null and startDate != ""'>
	                           <![CDATA[
                               		AND P.PAY_DT >= TO_DATE(#{startDate}, 'YYYY-MM-DD') 
	                           		AND P.PAY_DT <= TO_DATE(#{endDate}, 'YYYY-MM-DD') + 0.99999
	                           ]]>
                               </if>
                             )) AS RESERV
	        	   , SUM((SELECT NVL(SUM(NET_SALES),0) 
                            FROM SALES S 
                           WHERE S.PROD_LIST_NO = TPL.PROD_LIST_NO 
                             AND S.SETTLE_STAT_CD != '취소'
                             AND S.PROD_LIST_NO IN (
                                SELECT PROD_LIST_NO 
                                FROM TRIP_PROD_LIST
                                WHERE PAY_NO IN (
                                    SELECT P.PAY_NO FROM PAYMENT P
                                    <if test='startDate != null and startDate != ""'>
	                                    <![CDATA[
	                                    	WHERE P.PAY_DT >= TO_DATE(#{startDate}, 'YYYY-MM-DD') 
	                                    	AND P.PAY_DT <= TO_DATE(#{endDate}, 'YYYY-MM-DD') + 0.99999
	                                	]]>
                                	</if>
                                )
                             )
                             )) AS SALES
	        	   , (SELECT NVL(AVG(RATING),0) 
	        	   		FROM PROD_REVIEW PR 
	        	   	   WHERE PR.TRIP_PROD_NO = TP.TRIP_PROD_NO
	        	   	   <if test='startDate != null and startDate != ""'>
				        <![CDATA[
				          AND PR.PROD_REGDATE >= TO_DATE(#{startDate}, 'yyyy-MM-dd') 
				          AND PR.PROD_REGDATE <= TO_DATE(#{endDate}, 'yyyy-MM-dd') + 0.99999
				      	]]>
				      	</if>
	        	   	   ) AS RATING
	        FROM TRIP_PROD TP
	        LEFT OUTER JOIN TRIP_PROD_LIST TPL
	        ON TP.TRIP_PROD_NO = TPL.TRIP_PROD_NO
            LEFT OUTER JOIN PAYMENT P
            ON TPL.PAY_NO = P.PAY_NO
            <if test='startDate != null and startDate != ""'>
	        <![CDATA[
	          AND P.PAY_DT >= TO_DATE(#{startDate}, 'yyyy-MM-dd') 
	          AND P.PAY_DT <= TO_DATE(#{endDate}, 'yyyy-MM-dd') + 0.99999
	      	]]>
	      	</if>
	        WHERE TP.MEM_NO = #{memNo}
	        AND TP.DEL_YN != 'Y'
	        GROUP BY TP.TRIP_PROD_NO, TP.TRIP_PROD_TITLE, TP.VIEW_CNT
	        )
	</select>
	
	<select id="selectSalesTrend" parameterType="kr.or.ddit.util.Params" resultType="kr.or.ddit.util.Params">
		SELECT TO_CHAR(P.PAY_DT, 'yyyy-MM') as PAY_DT
		     , SUM((SELECT S.NET_SALES 
				      FROM SALES S 
				     WHERE S.PROD_LIST_NO = TPL.PROD_LIST_NO 
				       AND S.SETTLE_STAT_CD != '취소')) AS SALES
		     , COUNT(TPL.TRIP_PROD_NO) AS RSV_CNT
		FROM PAYMENT P
		INNER JOIN TRIP_PROD_LIST TPL
		ON P.PAY_NO = TPL.PAY_NO
		INNER JOIN TRIP_PROD TP
		ON TPL.TRIP_PROD_NO = TP.TRIP_PROD_NO
		WHERE TP.MEM_NO = #{memNo}
		<if test='startDate != null and startDate != ""'>
          <![CDATA[
            AND P.PAY_DT >= TO_DATE(#{startDate}, 'yyyy-MM-dd') 
            AND P.PAY_DT <= TO_DATE(#{endDate}, 'yyyy-MM-dd') + 0.99999
      	  ]]>
      	</if>
		GROUP BY TO_CHAR(P.PAY_DT, 'yyyy-MM')
		ORDER BY PAY_DT
	</select>
	
	<select id="selectGenderRatio" parameterType="kr.or.ddit.util.Params" resultType="kr.or.ddit.util.Params">
		SELECT SUM((
	        SELECT COUNT(*) 
	          FROM MEMBER M 
	         INNER JOIN MEM_USER MU
	            ON M.MEM_NO = MU.MEM_NO
	         WHERE P.MEM_NO = M.MEM_NO
	    )) TOTAL
	    , SUM((
	        SELECT COUNT(*) 
	          FROM MEMBER M 
	         INNER JOIN MEM_USER MU
	            ON M.MEM_NO = MU.MEM_NO
	         WHERE P.MEM_NO = M.MEM_NO
	           AND MU.GENDER = 'M'
	    )) MALE
	    , SUM((
	        SELECT COUNT(*) 
	          FROM MEMBER M 
	         INNER JOIN MEM_USER MU
	            ON M.MEM_NO = MU.MEM_NO
	         WHERE P.MEM_NO = M.MEM_NO
	           AND MU.GENDER = 'F'
	    )) FEMALE
	  FROM PAYMENT P
	 INNER JOIN TRIP_PROD_LIST TPL
		ON P.PAY_NO = TPL.PAY_NO
	 INNER JOIN TRIP_PROD TP
		ON TPL.TRIP_PROD_NO = TP.TRIP_PROD_NO
	 WHERE TP.MEM_NO = #{memNo}
 	 <if test='startDate != null and startDate != ""'>
     <![CDATA[
         AND P.PAY_DT >= TO_DATE(#{startDate}, 'yyyy-MM-dd') 
         AND P.PAY_DT <= TO_DATE(#{endDate}, 'yyyy-MM-dd') + 0.99999
   	  ]]>
   	</if>
	</select>
	
	<select id="selectSalesStatsByAge" parameterType="kr.or.ddit.util.Params" resultType="kr.or.ddit.util.Params">
		SELECT COUNT(*) AS TOTAL_CNT
		<![CDATA[
		     , SUM(CASE 
		             WHEN MU.BIRTH_DATE >= TO_DATE('1997-01-01', 'YYYY-MM-DD') 
		              AND MU.BIRTH_DATE <  TO_DATE('2007-01-01', 'YYYY-MM-DD') 
		             THEN 1 ELSE 0 
		           END) AS CNT_20S
		     , SUM(CASE 
		             WHEN MU.BIRTH_DATE >= TO_DATE('1987-01-01', 'YYYY-MM-DD') 
		              AND MU.BIRTH_DATE <  TO_DATE('1997-01-01', 'YYYY-MM-DD') 
		             THEN 1 ELSE 0 
		           END) AS CNT_30S
		     , SUM(CASE 
		             WHEN MU.BIRTH_DATE >= TO_DATE('1977-01-01', 'YYYY-MM-DD') 
		              AND MU.BIRTH_DATE <  TO_DATE('1987-01-01', 'YYYY-MM-DD') 
		             THEN 1 ELSE 0 
		           END) AS CNT_40S
		     , SUM(CASE 
		             WHEN MU.BIRTH_DATE <  TO_DATE('1977-01-01', 'YYYY-MM-DD') 
		             THEN 1 ELSE 0 
		           END) AS CNT_OVER_50S
		  ]]>
		  FROM PAYMENT P
		 INNER JOIN TRIP_PROD_LIST TPL ON P.PAY_NO = TPL.PAY_NO
		 INNER JOIN TRIP_PROD TP ON TPL.TRIP_PROD_NO = TP.TRIP_PROD_NO
		 INNER JOIN MEM_USER MU ON P.MEM_NO = MU.MEM_NO
		 WHERE TP.MEM_NO = #{memNo}
	 	 <if test='startDate != null and startDate != ""'>
	     <![CDATA[
	         AND P.PAY_DT >= TO_DATE(#{startDate}, 'yyyy-MM-dd') 
	         AND P.PAY_DT <= TO_DATE(#{endDate}, 'yyyy-MM-dd') + 0.99999
	   	  ]]>
	   	</if>
	</select>
</mapper>